body {
    font: 24px Helvetica;
    color: white;
    background: #3A4454;
    padding: 0;
    margin: 0;
}

button {
    background: #53687E;
    margin: 4px;
    padding: 5px;
}

.small {
    height: 200px;
    width: 37%;
}

#glavni-naslov {
    font-size: 100px;
    display: inline;
    align-content: center;
}

#left {
    padding-right: 10px;
}

#right {
    padding-left: 10px;
    align-content: right;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

#main article {
    margin-left: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background: #53687E;
    flex: 3 1 60%;
    order: 2;
}

#main article p {
    text-align: justify;
}

#main nav {
    margin: 4px;
    padding: 5px;
    background: #C2B2B4;
    flex: 1 6 20%;
    order: 1;
}

#main aside {
    margin: 4px;
    padding: 5px;
    flex: 1 6 20%;
    order: 3;
}

#meni {
    margin: 4px;
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: #F5DDDD;
    border: 2px solid #53687E;
    width: 350px;
}

header {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    background: #C2B2B4;

    border-bottom: 2px solid #53687E;
}

@media all and (max-width: 640px) {

    #main,
    #page {
        flex-direction: column;
    }

    #main>article,
    #main>nav,
    #main>aside {
        order: 0;
    }

    #main>nav,
    #main>aside,
    header {
        min-height: 50px;
        max-height: 50px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F5DDDD;
}

li a {
    display: block;
    color: #3A4454;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #62BBC1;
    color: black;
}

li ul {
    list-style-type: none;
    margin-left: 10%;
    padding: 0;
    width: 90%;
    background-color: #F5DDDD;
}

li ul li a {
    display: block;
    color: #3A4454;
    padding: 8px 16px;
    text-decoration: none;
}

li ul li a:hover:not(.active) {
    background-color: #b8c162;
    color: black;
}
